In [60]:
import pandas as pd

df = pd.read_csv("additional_data.csv", encoding = "ISO-8859-1", header=None, names=["Sentiment","Text"])
df.head()

  Sentiment                                               Text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [61]:
df.groupby(by="Sentiment").count()

           Text
Sentiment
negative    604
neutral    2879
positive   1363

In [62]:
df = df[ (df["Sentiment"]=="negative") | (df["Sentiment"]=="positive") ]
df["Sentiment"] = df["Sentiment"].map({'negative': -1, 'positive': 1})

In [63]:
df.head()

   Sentiment                                               Text
2         -1  The international electronic industry company ...
3          1  With the new production plant the company woul...
4          1  According to the company 's updated strategy f...
5          1  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
6          1  For the last quarter of 2010 , Componenta 's n...

In [64]:
df.groupby(by="Sentiment").count()

           Text
Sentiment
-1          604
 1         1363

In [65]:
df.to_csv("additional_data_preprocessed.csv", index=False)

In [66]:
pd.read_csv("additional_data_preprocessed.csv")

      Sentiment                                               Text
0            -1  The international electronic industry company ...
1             1  With the new production plant the company woul...
2             1  According to the company 's updated strategy f...
3             1  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
4             1  For the last quarter of 2010 , Componenta 's n...
...         ...                                                ...
1962         -1  HELSINKI Thomson Financial - Shares in Cargote...
1963         -1  LONDON MarketWatch -- Share prices ended lower...
1964         -1  Operating profit fell to EUR 35.4 mn from EUR ...
1965         -1  Net sales of the Paper segment decreased to EU...
1966         -1  Sales in Finland decreased by 10.5 % in Januar...

[1967 rows x 2 columns]